*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body{
	line-height: 1.5;
	min-height: 100vh;
}

img,
svg,
picture {
	max-height: 100%;
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select{
font: inherit;
}

header nav{
	align-self:center;
}

nav ul{
	display: flex;
	margin: 0 auto;
}
nav ul li{
	margin: 0.5rem;
}
li{
	list-style-type: none;
}
